/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: 'PT Sans', sans-serif;
}
header{
	height:65px;
	color:#000;
	background: #FFF;
}
.fixed-top{
	background: #FFF;
}
a.navbar-brand, .fa-bars:before{ color: #000 !important; }
.section-head{
	width:100%;
	background:url(../images/heading.png) repeat-x;
	margin:40px 20% 0px;
	padding:0 5% 40px 5%;
}
.section-head h1{
  	font-family: 'Montserrat', sans-serif;
	font-size:30px;
	font-weight:bold;
	background:#fff;
	text-align:center;
}
.section-head h2, .section-head h3{
  	font-family:  'PT Sans', sans-serif;
	font-size:15px;
	background:#fff;
	text-align:center;
}
.btn-blue{
	margin:0px 5px;
	padding:5px 24px;
	background:#4DD2FF;
	box-shadow:rgba(0,0,0,.5) 0px 2px 2px;
	font-size:13px;
	color:#FFF;
}
.btn-yellow{
	margin:0px 5px;
	padding:5px 24px;
	background:#FFBF00;
	box-shadow:rgba(0,0,0,.5) 0px 2px 2px;
	font-size:13px;
	color:#FFF;
}
.btn-install{
	margin:10px;
	padding:15px 35px;
	background:#FFBF00;
	font-size:16px;
	color:#000;
	cursor:e-resize;
	border-radius:0px; 
}
.section-bottom{
	width:100%;
	margin:30px 0px;
	text-align:center;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.subheader{
	height:200px;
	padding-top:50px;
	background:url(../images/subheader.png) no-repeat;
	background-size:cover;
}
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 9rem;
  z-index: 10;
}
.carousel-caption h1, .subheader h1{
	font-size:60px;
	font-weight:bold;
	color:#FFF;
	text-shadow:#000 0px 3px 3px;
  	font-family: 'Montserrat', sans-serif;
}
/************************/
.profile{
	background:#efefef;
	padding-bottom: 50px;
}
.profile img{
	margin: 200px 0 0 0;
	border:#fff solid 2px;
}
.profile h1{
	width:90%;
	margin: 250px 0 0 0;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 600px;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: -50%;
  left: 0;
  min-width: 100%;
  height: auto;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
	font-size:15px;
  font-weight: bold;
}
.marketing .col-lg-4 p, .marketing .col-lg-4 h4 {
	font-size:13px;
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* REGISTRY */
.registry{
	padding:10px;
	border:#ccc solid 1px;
	box-shadow:2px 2px 0px #ccc;
	margin-top:20px;
}
.registry img{
	width:100px;
	height:100px;
	border:#ccc solid 1px;
	box-shadow:0px 2px 2px #ccc;
}
.registry .info{
}
.registry .info h3{
	font-size:15px;
	font-weight:bold;
  	font-family: 'Montserrat', sans-serif;
	color:#000;
}
.registry .info p.type{
	font-size:13px;
	font-weight:bold;
	color:#4DD2FF;
}
.registry .info p.date{
	font-size:12px;
	color:#FFBF00;
}
.registry .action .btn{
	margin-top:20%;
	float:right;
}

.profile img{
	width:100%;
}
.sidebar{
	list-style:none;
	padding:15px;
	margin-top:8px;
	border:#efefef solid 1px;
}
.custom-checkbox{
	margin:10px 0px;
	text-align:left;
	margin-top:10px;
}

.product{
	padding:8px;
	border:#efefef solid 1px;
}
.product.active{
	opacity: 0.5;
}
.product.active::before{
	position: absolute;
	top:20px;
	left: 10px;
	content: "Purchased";
	background: #FFBF00;
	color: #000;
	font-size: 11px;
	padding: 3px 5px;
}
.product img{
	width:100%;
	height: 200px;
}
.product h4{
	padding-top:10px;
	font-size:16px;
  font-family: 'Montserrat', sans-serif;
	color:#000;
	text-align: center;
}
.product p.price{
	padding-top:10px;
	font-size:15px;
	font-weight:bold;
  font-family: 'Montserrat', sans-serif;
	color:#ffa016;
	text-align: center;
}
.product p.retailer{
	padding-top:5px;
	font-size:12px;
  font-family: 'Montserrat', sans-serif;
	color:#ccc;
	text-align: center;
}
.product p.description{
	padding-top:5px;
	font-size:12px;
  font-family: 'Montserrat', sans-serif;
	color:#666;
	text-align: center;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media screen and (max-width:767px) {
	.carousel-caption h1{
		font-size: 22px;
	}
	.section-head h1{
  	font-family: 'Montserrat', sans-serif;
		font-size:22px;
		font-weight:bold;
		background:#fff;
		text-align:center;
	}
	.section-head h3{
		font-family:  'PT Sans', sans-serif;
		font-size:13px;
		background:#fff;
		text-align:center;
	}
	
}

.user-dash-box{
	width: 100%;
	margin: 10px;
	padding: 10px 0 30px 0;
	border:#ccc solid 1px;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
.user-dash-box span{
	width:70px;
	height: 70px;
	margin-top: 20px;
	border-radius: 50%;
	box-shadow: 0px 0px 2px #ccc;
	align-self: center;
}
.user-dash-box span i{
	font-size: 25px;
	line-height: 70px;
}
.user-dash-box a{
	margin-top: 30px;
	text-decoration: none;
}


.import-registry-box{
	width: 100%;
	margin: 10px;
	padding: 40px 20px;
	border:#ccc solid 1px;
	display: flex;
	flex-flow: row;
	justify-content:space-between;
}
.import-registry-box h3{
	font-size: 18px;
}
.import-registry-box h3 span{
	font-size: 13px;
	line-height: 18px;
}
.import-registry-box .options a{
	margin: 0 5px;
}

/**********************************/
.imported-product{
	width:100%;
	height: auto;
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 2.5%;
	border:#666 solid 1px;
	background: #fff;
	z-index: 999999;
	display: block;
}
.imported-product .product-details h2{
	font-size: 20px;
	font-weight: 100;
}
.imported-product .product-details .description{
	margin-top: 15px;
	font-size: 13px;
	font-weight: 100;
}
.imported-product .product-details .price{
	margin-top: 15px;
	font-size: 14px;
	font-weight: 800;
	color: #ffa016;
}
.imported-product .product-details .retailer{
	margin-top: 15px;
	font-size: 11px;
	font-weight: 200;
	color:#4DD2FF;
}
.imported-product .product-details a{
	margin: 15px 0 0 0;
}

